.container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 10px;
    gap: 25px 20px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    margin-top: 80px;
}

.card{
    height: fit-content;
    box-shadow: 5px 5px rgb(196, 195, 195);
    display: inline-grid;
    background-color: black;
    text-align: center;
    width: 200px;
    border-radius: 10%;
    border: 1px white solid;
}

.card-content{
    margin: 10px;
}

.text-zone{
    color:grey;
    margin: 10px;
}

.text-zone span{
    font-weight: 600;
    color: white;
    letter-spacing: 1.5px;
}

.btn-portfolio{   
    color: black;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid black;
}

.btn-portfolio:hover{
    background-color: black;
    color:white;
    border: 1px solid white;
    cursor: pointer;
}

.card-content img{
    border-radius: 50%;
    border: 1px white solid;
    height: 90px;
    width: 90px;
}
.text-zone:hover{
    cursor: default;
}
